#cookieBar {
    max-height: 130px;
    overflow: hidden;
    transition: max-height 500ms linear, padding 750ms linear;
}

@media only screen and (min-width:991px){
    #cookieBar {
        max-height: 100px;
    }
}

.cookie__description {
    display: inline-block;
    width: 80%;
}
.cookie__description p {
    line-height: 30px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.cookie__decision {
    display: inline-block;
}
.cookie--button {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.cookie--button:focus {
    outline: none;
}
.cookie--button.allow {
    background: green;
}
.cookie--button.forbid {
    background: red;
}
.cookie--button:hover {
    text-decoration: underline;
}

/* ie */
@media screen and (min-width:0\0) {
    #cookieBar .cookie--button {
        padding: 6px 5px 2px 5px;
    }
}

#cookieBar.cookiebar__hidden {
    max-height: 0;
    padding: 0;
    transition: max-height 500ms linear, padding 750ms linear;
}
