<div id="cookieBar">
    <div class="cookie__description">
        <p>
            <f:translate id="cookie.description" package="DIU.CookieBar" />
            <a href="{link}"><f:translate id="cookie.dataprotection" package="DIU.CookieBar" /></a>
        </p>
    </div>
    <div class="cookie__decision">
        <button class="cookie--button forbid" onclick="cookieDecision(this)"><f:translate id="cookie.forbid" package="DIU.CookieBar" /></button>
        <button class="cookie--button allow"onclick="cookieDecision(this)"><f:translate id="cookie.allow" package="DIU.CookieBar" /></button>
    </div>
</div>